.game-input {
  height: 50px;
  width: 50px;
  border: 1px solid black;
  font-size: 40px;
  justify-content: center;
  display: flex;
}

#gameBox {
  width: 156px;
  display: flex;
  flex-wrap: wrap;
}

#gameDiv {
  display: none;
}
